
a {
    text-decoration: none;
  }
  
  .category-title {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.2em;
    right: 16px;
    bottom: 16px;
    left: 16px;
    color: white;
  }
  
  .category {
    margin-bottom: 2em;
  }
  
  .jedi-font {
    font-family: jedi;
  }